<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Dynamic title for SEO -->
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}" />
<!-- Dynamic description for SEO -->
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.description }}{{ end }}">
{{- partialCached "head/css.html" . -}}
{{- partialCached "head/favicon.html" . -}}
{{- /* template "_internal/google_analytics.html" . */ -}}
<meta name="author" content="Jonhathan Rolando Rodas Lopez" />
<meta name="language" content="es">
  <!-- Open Graph Tags -->
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:locale" content="es_ES" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta property="og:updated_time" content="{{ .Date }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:site" content="@elefanteweb" />
<meta name="twitter:creator" content="@elefanteweb" />
  <meta name="twitter:description" content="{{ .Params.description }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />


<meta name="DC.title" content="{{ .Title }}" />
<meta name="DC.creator" content="Jonhathan Rolando Rodas López" />
<meta name="DC.description" content="{{ .Params.description }}" />
<meta name="DC.language" content="es" />

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "author": {
    "@type": "Person",
    "name": "Jonhathan Rolando Rodas López"
  },
  "datePublished": "{{ .Date }}",
  "image": "{{ .Site.BaseURL }}{{ .Params.image }}",
  "description": "{{ .Params.description }}",
  "publisher": {
    "@type": "Person",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}/logo.png"
    }
  }
}
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W6JXL4MX');</script>
<!-- End Google Tag Manager -->	