{{ define "main" }}
    <h1>Blog Personal</h1>

    <p>
      Mi pasión por la tecnología y la justicia me llevó a combinar lo mejor de ambos mundos. Acompaña en este blog mi exploración constante de nuevas herramientas y desafíos.
    </p>
  {{ .Content }}

  {{ range sort .Paginator.Pages }}
  <article>
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>

    <p>
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </p>
  </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}
