<!DOCTYPE html>
<html lang="es">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-zinc-100">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6JXL4MX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <header class="py-6 border-b">
    {{- partial "header.html" . -}}
  </header>
  <main class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
    {{- block "main" . }}{{ end -}}
  </main>
  <footer class="bg-zinc-100 py-10 md:py-14">
    {{- partial "footer.html" . -}}
  </footer>
  {{- partialCached "footer/js.html" . }}
</body>
</html>